POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

QDRANT_HOST=
QDRANT_PORT=

NOTION_TOKEN=
NOTION_USERS_DB_ID=

GEMINI_API_KEY=

MONGO_URI=
MONGO_DB=
MONGO_USERS_COLLECTION=
